

.mainContent
{
    width: 600px;
    height: 400px;
    margin: auto;
    overflow: hidden;
}

.sample li
{
    display: block;
    font-size: 40px;
    color: #000;
    padding: 20px 20px 20px 120px;
    line-height: 60px;
    background: #34cf07;
    position: relative;
    margin: 10px;
}

    .sample li:before
    {
        content: attr(title);
        display: block;
        width: 100px;
        height: 100px;
        background: #00ff90;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 100px;
    }

    .sample li:hover:before
    {
        background: #ff6a00;
        color: #00ff90;
    }

    .sample li:nth-child(odd)
    {
        background: #ffd800;
    }

.check input[type="checkbox"]:before
{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #1f21ad;
    border: solid 1px #000;
    position: absolute;
    top: 0;
    left: 0;
}

.check input[type="checkbox"]:checked:before
{
    background:#808080;
}
