body
{
    font-family: Arial,Helvetica, sans-serifl;
}

.clear
{
    clear: both;
}

.sample
{
    width: 200px;    
    background: red;
    margin: 100px auto;
    padding: 10px;
    border: 1px solid #000;
}


    .sample p
    {        
        line-height: 150px;
        background: green;
        text-align: center;
        padding:10px;
        margin: 0 10px;
    }

        .sample p span
        {
            background: #dbd012;
            display:block;
        }

p.daa
{
    margin-top:10px;    
}